local
vim/.vim/plugged
vim/.vim/undo
mpd/.config/mpd/database
mpd/.config/mpd/mpd.log
mpd/.config/mpd/mpdstate
mpd/.config/mpd/playlists
mpd/.config/mpd/socket
vifm/.config/vifm/viminfo*
ranger/.config/ranger/plugins
