snippet RLI i
  ${1:var} = list(map(int, input().split()))$0

snippet RLS i
  ${1:var} = input().split()))$0

snippet RI i
  ${1:var} = int(input())$0

snippet MACROS i
  import sys
  input = sys.stdin.readline

snippet ARR2D i
  ${1:var} = [[${2:val} for j in range(${3:col})] for i in range(${4:row})]
