#XfceNotifyWindow {
    background-color: #231a1a;
    border-radius: 6px;
    border: 3px solid shade(#629baa, 0.8);
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#231a1a, 0.98);
    border-color: shade(#629baa, 0.8);
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #c8c5c5;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: shade(#231a1a, 0.9);
    color: #c8c5c5;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: shade(#231a1a, 0.8); 
    color: #c8c5c5;
}

#XfceNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 3px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: shade(#c8c5c5, 1.2);
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#231a1a, 0.85),
                                      shade(#231a1a, 1.05)
                                      );
    border: 1px solid shade(#231a1a, 0.6);
    border-radius: 3px;
}
