#XfceNotifyWindow {
    background-color: #101934;
    border-radius: 6px;
    border: 3px solid shade(#8EBAB3, 0.8);
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#101934, 0.98);
    border-color: shade(#8EBAB3, 0.8);
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #ece5d4;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: shade(#101934, 0.9);
    color: #ece5d4;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: shade(#101934, 0.8); 
    color: #ece5d4;
}

#XfceNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 3px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: shade(#ece5d4, 1.2);
}

#XfceNotifyWindow progressbar trough {
    background-image: linear-gradient(to bottom,
                                      shade(#101934, 0.85),
                                      shade(#101934, 1.05)
                                      );
    border: 1px solid shade(#101934, 0.6);
    border-radius: 3px;
}
